<div class="container">
    <div class="col-lg-4">
        <product-list-short></product-list-short>
    </div>
    <div class="col-lg-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr><th>{{psCtrl.productService.product.SKU}}, {{psCtrl.productService.product.Name}} - currently added prices</th><th></th><th></th></tr>
                <tr>
                    <th> Date </th>
                    <th> Price </th>
                    <th> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="priceSet in psCtrl.service.priceSets  | orderBy: priceSet.Date">
                    <td> {{priceSet.Date | date:'MM/dd/yyyy'}} </td>
                    <td> {{priceSet.Price}} </td>
                    <td> <a ng-click="psCtrl.service.deletePriceSet(priceSet.Id, $index);">Delete</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h4>Add new price</h4>
        <form>
            <div class="form-group">
                <label> Date </label>
                <input class="form-control" type="date" ng-model="psCtrl.service.priceSet.Date" />
            </div>
            <div class="form-group">
                <label> Price </label>
                <input class="form-control" type="number" step="0.01" ng-model="psCtrl.service.priceSet.Price" />
            </div>
            <button class="btn btn-success btn-sm" type="submit" ng-click="psCtrl.service.addPriceSet();"> Add new price </button>
        </form>
    </div>
</div>