html, body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0; }

body {
  background-color: #EBEC8E;
  color: #222;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 20px; }

.body-content {
  margin: 50px auto 100px auto; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

#header {
  background-color: #4F365D;
  color: #ddd4d4; }

.gc-navbar {
  padding: 10px 30px; }
  .gc-navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 0;
    color: #ddd4d4;
    background-color: #815177;
    border: solid #ddd4d4 1px;
    position: relative;
    width: 15%;
    text-align: center; }
    .gc-navbar li a {
      color: #ddd4d4;
      text-decoration: none; }
    .gc-navbar li:hover {
      background-color: #F2C164;
      color: #222;
      border: solid 1px #222; }
      .gc-navbar li:hover a {
        color: #222; }

a {
  cursor: pointer;
  color: #ddd4d4; }
  a:hover {
    text-decoration: underline; }

table {
  color: #ddd4d4;
  box-shadow: 5px 5px 2px #a8a967; }
  table thead {
    background-color: #4F365D; }
  table tbody {
    background-color: #815177; }

.active-product-info {
  border: none;
  color: #222;
  font-weight: bolder; }

.product-report {
  background-color: #815177;
  color: #ddd4d4;
  border: 7px solid #4F365D;
  margin-top: 10%;
  padding: 15px;
  width: auto;
  box-shadow: 5px 5px 2px #a8a967; }
  .product-report p {
    margin-left: 5%; }

#footer {
  background-color: #4F365D;
  color: #ddd4d4;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 15px;
  bottom: 0; }

/*overriding bootstrap*/
.btn-danger, .btn-default {
  background-color: #F2C164;
  color: #222; }
  .btn-danger:hover, .btn-default:hover {
    background-color: #D43F3A; }

.btn-success, .btn-primary {
  background-color: #A2C046;
  color: #222; }
  .btn-success:hover, .btn-primary:hover {
    background-color: #4CAE4C; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tbody tr:hover a {
  background-color: #F2C164;
  color: #222; }

.form-control {
  background-color: #815177;
  color: #ddd4d4; }

.modal-content {
  background-color: #815177;
  color: #ddd4d4; }

