html, body {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
}

body {
    margin: 0;  
    background-color: #444444;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ddd4d4;
}


.body-content {
    margin: 50px auto 100px auto;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header {
    background-color: #222222;
    color: #ddd4d4;
}

.gc-navbar {
    padding: 10px 30px; 
}

.gc-navbar li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 5px;   
    color: #ddd4d4;
    background-color: #303030;
    border: solid #ddd4d4 1px;
    box-shadow: 5px 5px 2px #353535;
    position: relative;    
}

.gc-navbar li:hover {
    background-color: #222;
    color: #ddd4d4;; 
}

.gc-navbar li:hover a {
    color: #222;
}

.gc-navbar li a {
    color: #ddd4d4;
     text-decoration: none;
}

.gc-navbar li a:hover{
    color: #222;   
}


a {
    cursor: pointer;
    color: #ddd4d4;
}

a:hover {
    color: #808080;
}

table-bordered {
    border: #222;
   box-shadow: 5px 5px 2px #353535;
}

thead {
    background-color: #303030;
}

tbody {
    background-color: #303030; 

}

.table, form {
    margin-top: 10%;   
}

.table {
     background-color: #303030;
}

.product-report {
    border: 1px solid #ddd4d4;
    margin-top: 10%;
    background-color: #222;
    padding: 15px;
    width: auto;
}

    .product-report p {
        margin-left: 5%;
    }

table {
    color: #ddd4d4;
   box-shadow: 5px 5px 2px #353535;
}

#footer {
    clear: both;   
    padding: 15px;   
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;  
}




/*calendar*/
::-webkit-datetime-edit { padding: 1em; }
::-webkit-inner-spin-button { display: none; }


/*overriding bootstrap*/


.btn:hover, .btn:focus {
    border: solid #ddd4d4 2px;
}

.btn {
    border-radius: 0;
    color: #ddd4d4;   
    border: 2px solid transparent;
    padding: 15px;
    margin: 5px;   
}

.btn-success, .modal-footer .btn-primary {
   background-color: #379F7C;      
   color: #ddd4d4;
}


.btn-danger, .modal-footer .btn-default {
    background-color: transparent;
    border: 2px solid #222;  
    color: #222;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .table-hover tbody tr:hover a {
  background-color: #222;
  color: #ddd4d4;
}


.form-control {
    background-color: #303030;
    color: #ddd4d4;   
}

.modal-content {
    background-color: #404040;
}

