<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> SKU </th>
            <th> Name </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in navCtrl.productService.activeProducts track by $index" ng-click="navCtrl.checkTab(product.Id, $index)" ng-class="{'highlight' : $index == navCtrl.productService.productIndex}">
            <td> {{product.SKU}} </td>
            <td> {{product.Name}} </td>         
        </tr>
    </tbody>
</table>