<div class="container">   
    <div class="col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Active </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in catCtrl.service.categories">
                    <td> {{category.Name}} </td>
                    <td> <input type="checkbox" ng-model="category.Active" onclick="return false;" /></td>
                    <td> <a ng-click="catCtrl.service.getCategory(category.Id, $index);">Update</a> | <a ng-click="catCtrl.service.deleteCategory(category.Id, $index);">Delete</a> </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" style="float: right;" ng-click="catCtrl.service.emptyForm();"><i class="glyphicon glyphicon-plus"></i>Add new category</button>
    </div>
    <category-add-update></category-add-update>

</div>