<div class="col-lg-6">   
    <div class="frame">
        <h4 class="frame-text">Update</h4>
        <form>           
            <div class="form-group">
                <label> Product Name: </label>
                <input type="text" class="form-control" ng-model="productsCtrl.service.product.Name" />
            </div>
            <div class="form-group">
                <label> SKU: </label>
                <input type="text" class="form-control" ng-model="productsCtrl.service.product.SKU" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="productsCtrl.service.product.Available" /> product is active
                </label>
            </div>
            <div class="form-group">
                <label> Product Description </label>
                <textarea class="form-control" rows="4" ng-model="productsCtrl.service.product.Description"></textarea>
            </div>
            <button type="submit" class="btn btn-danger btn-sm" ng-click="productsCtrl.service.emptyForm();"> Cancel </button>
            <button type="submit" class="btn btn-success btn-sm" ng-click="productsCtrl.service.addOrUpdate();"> Update / Save Changes </button>
        </form>
    </div>
</div>
