<div class="container">  
    <div class="col-lg-6">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> SKU </th>
                    <th> Name </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in relCtrl.productService.activeProducts" ng-click="relCtrl.service.getAssignedCategories(product.Id); relCtrl.productService.getProduct(product.Id, $index)">
                    <td> {{product.SKU}} </td>
                    <td> {{product.Name}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">

        <table class="table table-bordered table-hover">          
            <thead>
                <tr><th>{{relCtrl.productService.product.SKU}}, {{relCtrl.productService.product.Name}} - currently active categories</th><th></th></tr>
                <tr>
                    <th> Assigned </th>
                    <th> Category </th>
                </tr>
            </thead>
            <tbody>              
                <tr ng-repeat="category in relCtrl.service.assignedCategories">                   
                    <td> <input type="checkbox" ng-model="category.Connected"  ng-click="relCtrl.connectOrDisconnect(category.Connected, category.Id);"/></td>
                    <td> {{ category.CategoryName }} </td>
                </tr>
           </tbody>
        </table>
    </div>
</div>